body {
  --body-width: 100%;
  height: 100vh;
  width: var(--body-width);
}

.logo {
  max-height: 2rem;
}

p {
  margin-bottom: 0;
}

.media-preview {
  background-color: var(--md-sys-color-secondary);
  object-fit: contain;
  object-position: center;
}

.h-100vh {
  height: 100vh;
}