:root, :host {
  --md-sys-color-background: #fdf8ff;
  --md-sys-color-on-background: #1c1b21;
  --md-sys-color-surface: #fdf8ff;
  --md-sys-color-surface-dim: #ddd8e1;
  --md-sys-color-surface-bright: #fdf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2fb;
  --md-sys-color-surface-container: #f1ecf5;
  --md-sys-color-surface-container-high: #ebe6f0;
  --md-sys-color-surface-container-highest: #e6e1ea;
  --md-sys-color-on-surface: #1c1b21;
  --md-sys-color-surface-variant: #e6e0f0;
  --md-sys-color-on-surface-variant: #484552;
  --md-sys-color-inverse-surface: #312f36;
  --md-sys-color-inverse-on-surface: #f4eff8;
  --md-sys-color-outline: #797583;
  --md-sys-color-outline-variant: #c9c4d4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #604eb3;
  --md-sys-color-primary: #513fa4;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #7665cc;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #cabeff;
  --md-sys-color-secondary: #605982;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #ddd4ff;
  --md-sys-color-on-secondary-container: #443e64;
  --md-sys-color-tertiary: #852d6d;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #b15294;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}